spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/feeservice
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  default-tenant: default